{{!-- uses css rule padding 25 --}}
<div class="padding-25">

{{!-- comment form --}}
    <form id="comment-form " class="padding-25">
        <label for="post-title">Post Title</label>
        <input class="padding-25" type="textarea" name="post-title" id="post-title">
        <label for="post-title">Text</label>
        <input class="padding-25" type="textarea" name="post-text" id="post-body">
        <button class="padding-25" id="create-post-btn">Post</button>
    </form>
</div>

{{!-- pulls from create-post --}}
<script src="/js/create-post.js"></script>