<div class="padding-25">
    {{!-- comment form --}}
    <form id="comment-form " class="padding-20">
        <label for="post-title">New Post Title</label>
        <input class="padding-25" type="textarea" name="post-title" id="post-title">
        <label for="post-title">New Text</label>
        <input class="padding-25" type="textarea" name="post-text" id="post-body">
        <button class="padding-25" id="create-post-btn">Update</button>
    </form>
</div>

{{!-- link to css --}}
<link rel="stylesheet" href="/css/single-post.css">

{{!-- link to update post js --}}
<script src="/js/update-post.js"></script>